<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /> <!-- 입력 값이 Null일 경우 “”이 아닌 Null로 처리 -->
	</settings>

	<typeAliases> <!-- Class 별칭을 선언하여 모든 경로를 적어주지 않아도 된다. -->
		<typeAlias type="com.josso.electronicApproval.vo.ElectronicApproval" alias="ElectronicApproval" />
		<typeAlias type="com.josso.electronicApproval.vo.ElectView" alias="ElectView" />
		<typeAlias type="com.josso.board.vo.Board" alias="board" />
		<typeAlias type="com.josso.email.vo.Email" alias="Email" />
		<typeAlias type="com.josso.employee.vo.Employee" alias="Employee" />
		<typeAlias type="com.josso.reserve.vo.Reserve" alias="reserve" />
		<typeAlias type="com.josso.schedule.vo.Schedule" alias="Schedule" />
		<typeAlias type="com.josso.businessReport.vo.WeeklyReport" alias="weeklyReport" />
		<typeAlias type="com.josso.businessReport.vo.MonthlyReport" alias="monthlyReport" />
	</typeAliases>
	
	<!-- 사용하고자 하는 mapper를 등록한다. --> 
	<mappers> 
		<mapper resource="mapper/electronic-mapper.xml" />
		<mapper resource="mapper/electView-mapper.xml" />
		<mapper resource="mapper/board-mapper.xml" />
		<mapper resource="mapper/email-mapper.xml" />
		<mapper resource="mapper/employee-mapper.xml" />
		<mapper resource="mapper/reserve-mapper.xml" />
		<mapper resource="mapper/schedule-mapper.xml" />
		<mapper resource="mapper/weeklyReport-mapper.xml" />
		<mapper resource="mapper/monthlyReport-mapper.xml" />
	<!-- staffvo삭제 / 홍수명 -->	
	</mappers>
	
</configuration>