<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ElectView">
<resultMap id="ElectView" type="ElectView">
		<id property="documentNo" column="DOCUMENT_NO"/>
		<result property="rowNum" column="ROWNUM"/>
		<result property="employeeName" column="EMPLOYEE_NAME"/>
		<result property="departmentCode" column="DEPARTMENT_CODE"/>
		<result property="rankCode" column="RANK_CODE"/>
		<result property="documentForm" column="DOCUMENT_FORM"/>
		<result property="documentName" column="DOCUMENT_NAME"/>
		<result property="registerDate" column="REGISTER_DATE"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="drafter" column="DRAFTER"/>
		<result property="drafterAccept" column="DRAFTER_ACCEPT"/>
		<result property="middle" column="MIDDLE"/>
		<result property="middleAccept" column="MIDDLE_ACCEPT"/>
		<result property="last" column="LAST"/>
		<result property="lastAccept" column="LAST_ACCEPT"/>
		<result property="attachedFile" column="ATTACHED_FILE"/>
		<result property="holyType" column="HOLY_TYPE"/>
		<result property="middleAcceptDate" column="MIDDLE_ACCEPT_DATE"/>
		<result property="lastAcceptDate" column="LAST_ACCEPT_DATE"/>
	</resultMap>
	
	<!-- 보고서 상세보기  -->
	<select id="selectDetail" parameterType="String" resultMap="ElectView">
		SELECT * FROM ELEC_VIEW WHERE DOCUMENT_NO = #{num}
	</select>
	
	<!-- 결재 대기문서 최근 3개 -->
	<select id="selectLastWait" parameterType="String" resultMap="ElectView">
		SELECT ROWNUM, EA.* FROM(SELECT * FROM ELEC_VIEW WHERE ((MIDDLE = #{num} and MIDDLE_ACCEPT != 1) 
		OR (LAST = #{num} AND MIDDLE_ACCEPT = 1 AND LAST_ACCEPT = 0)) ORDER BY REGISTER_DATE DESC) EA WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<!-- 결재 수신문서 최근 3개 -->
	<select id="selectLastRecive" parameterType="String" resultMap="ElectView">
		SELECT ROWNUM, A.* FROM(SELECT * FROM ELEC_VIEW WHERE DRAFTER = #{num} OR MIDDLE = #{num}
		 OR LAST = #{num} ORDER BY REGISTER_DATE DESC) A WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<!-- 결재 대기문서 리스트 -->
	<select id="selectWaitSign" parameterType="String" resultMap="ElectView">
		SELECT * FROM ELEC_VIEW WHERE ((MIDDLE = #{num} and MIDDLE_ACCEPT != 1) 
		OR (LAST = #{num} AND MIDDLE_ACCEPT = 1 AND LAST_ACCEPT = 0)) ORDER BY REGISTER_DATE DESC
	</select>
	
	<!-- 내가 기안한 문서 리스트 -->
	<select id="selectMySign" parameterType="String" resultMap="ElectView">
		SELECT * FROM ELEC_VIEW WHERE DRAFTER = #{num} ORDER BY REGISTER_DATE DESC
	</select>
	
	<!-- 결재 수신 문서 리스트 -->
	<select id="selectRecepSign" parameterType="String" resultMap="ElectView">
		SELECT * FROM ELEC_VIEW WHERE DRAFTER = #{num} OR MIDDLE = #{num} OR LAST = #{num} ORDER BY REGISTER_DATE DESC
	</select>
	
</mapper>