<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Schedule">

	<resultMap id="resultSchedule" type="Schedule">
		<result property="scheduleNumber" column="SCHEDULE_NUMBER"></result>
		<result property="scheduleTitle" column="SCHEDULE_TITLE"></result>
		<result property="schedulePlace" column="SCHEDULE_PLACE"></result>
		<result property="scheduleContent" column="SCHEDULE_CONTENT"></result>
		<result property="Attendee" column="ATTENDEE"></result>
		<result property="scheduleStartDate" column="SCHEDULE_START_DATE"></result>
		<result property="scheduleStartTime" column="SCHEDULE_START_TIME"></result>
		<result property="scheduleEndDate" column="SCHEDULE_END_DATE"></result>
		<result property="scheduleEndTime" column="SCHEDULE_END_TIME"></result>
		<result property="employeeNumber" column="EMPLOYEE_NUMBER"></result>
	</resultMap>
	
	<!-- Schedule 등록(register) -->
	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO SCHEDULE(SCHEDULE_TITLE, SCHEDULE_PLACE,
		SCHEDULE_CONTENT, SCHEDULE_START_DATE, SCHEDULE_START_TIME,
		SCHEDULE_END_DATE, SCHEDULE_END_TIME, EMPLOYEE_NUMBER) VALUES(#{scheduleTitle},
		 #{schedulePlace}, #{scheduleContent}, #{scheduleStartDate},
		 #{scheduleStartTime}, #{scheduleEndDate}, #{scheduleEndTime},
		 #{employeeNumber})
	</insert>
	<!-- Schedule 전체 조회 -->
	<select id="selectScheduleAll" resultMap="resultSchedule">
		SELECT * FROM SCHEDULE
	</select>
	
	<!-- Schedule 하나만 조회 -->
	<select id="selectSchedule" resultMap="resultSchedule" parameterType="String">
		SELECT * FROM SCHEDULE WHERE SCHEDULE_NUMBER = #{scheduleNumber}
	</select>
</mapper>