@charset "UTF-8";
.table_fix {
					table-layout: fixed !important;;
				}
				
				.txtarea {
					min-height: 50px;
					max-height: 300px;
					width: 100%;
					min-width: 400px;
					padding: 0 4px;
				}
				
				table {
					width: 90%;
					min-width: 400px;
				}
				
				table.form_type>tbody>tr>th {
					padding-left: 24px;
					height: 26px;
					width: 140px;
					min-width: 140px;
				}
				
				table.form_type>tbody>tr {
					height: 50px;
					width: 100%;
				}
				
				.ipt {
					width: 100%;
					min-width: 400px;
				}
				
				.date_ipt>span>input {
					width: 12%;
					min-width: 145px;
					display: inline-block;
					padding-right: 6px;
				}
				
				.date_ipt>span>img {
					position: absolute;
				}
				
				.form_type {
					margin: 30px;
				}
				
				.bt_area {
					/* width: 90%;
				                height: 150px;
				                padding-left: 430px; */
					text-align: center;
					margin-top: 20px;
					padding-bottom: 20px;
				}
				.btn-danger {
					float: right;
					margin-right:20px;
				}
				.bt_area>span {
					margin-left: 15px;
				}
				
				.btn_wrap {
					cursor: pointer;
				}
				
				.modal-body>ul>ul {
					list-style: none;
					padding: 0px 0px 0px 35px;
					display: none;
				}
				
				.modal-body>ul {
					list-style: none;
					padding: 0;
				}
				
				.modal-body>ul>li>a {
					color: black;
					text-decoration: none;
				}